.App {
  margin: auto;
  width: 50%;
}

.myForm{
  width: 80%;
  background-color: #dfe6e9;
  border-radius: 5px;
  padding: 20px;
}

.formField{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}


  .button-secondary {
    background: rgb(66, 184, 221);
    /* this is a light blue */
}


.myList{
  list-style: none;
}
.table,th,td
{
  border: 1px solid black;
}
table{
  border-collapse: collapse;
  width: 100%;
}
.myListButton{
  display: inline-block;
  height: auto;
  width: auto;
  border-radius: 7px;
  border: 1px solid #00b894;
  margin: 3px 5px;
}


